:root {
  --primary: rgb(255, 136, 0);
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  height: 6rem;
}

/*
.navbar .navbar-logo span {
  color: var(--primary);
}
*/
.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.hello {
  position: fixed;
  height: auto;
  left: 0px;
  width: 250px;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
  color: black;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 70vh;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-image: url("../img/summarecon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.row .menu-card .h4 {
  color: #010101;
}

.hero .content h1 {
  font-size: 5em;
  color: rgb(0, 173, 239);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.192);
  line-height: 1;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 550;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

/*.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3 rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}*/

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 2rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 550;
  line-height: 1.6;
}

/* Menu Section*/

.image-scroll {
  overflow: auto; /* Aktifkan overflow scroll jika gambar melebihi batas */
}

.menu-card {
  margin: 12px;
  padding: 6px; /* Ubah nilai padding sesuai keinginan Anda */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  max-width: 1500px;
}

/* Gaya untuk judul dan harga di dalam menu-card */
.menu-card img {
  max-width: 100%;
}

/* Gaya untuk judul dan harga di dalam menu card */
.menu-card-title {
  font-size: 22px;
  color: #333;
}

.menu-card-price {
  font-size: 20px;
  color: #0074c4;
}

.menu-card-img-container {
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.menu-card-img {
  width: 100%;
  transition: transform 0.3s;
}

.menu-card-img.enlarged {
  transform: scale(1.3);
}

.menu-card .menu-card-img {
  cursor: pointer; /* Menjadikan kursor berubah saat mengarah ke gambar */
  transition: transform 0.3s; /* Efek transisi perubahan ukuran */
  max-width: 100%;
}

.menu-card .menu-card-img.enlarged {
  transform: scale(1.4); /* Perbesar gambar saat diberi kelas "enlarged" */
  max-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; /* Hapus margin atas */
  margin-bottom: 10px; /* Atur margin bawah sesuai kebutuhan */
  padding: 5px; /* Atur padding sesuai kebutuhan */
  color: rgb(0, 0, 0); /* Warna teks */
}

/* Gaya untuk tombol "Baca Selengkapnya" */
.baca-selengkapnya {
  background-color: #0074c4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Gaya untuk tombol "Baca Selengkapnya" saat dihover */
.baca-selengkapnya:hover {
  background-color: #00578e;
}

/* Gaya untuk konten tambahan */
.konten-tambahan {
  display: none;
  margin-top: 10px;
}

/* Gaya untuk konten tambahan, misalnya paragraf dalam konten tambahan */
.konten-tambahan p {
  font-size: 16px;
}

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 35rem;
  margin: auto;
  font-weight: 550;
  font-size: 16px;
  line-height: 1.6;
}

/*.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0, 25);
  border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}*/

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card .image-scroll {
  /* border-radius: 50%; */
  width: 100%;
}

.menu .row .menu-card img .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/*Footer*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

.facebook-icon {
  color: #fff; /* Warna ikon */
  font-size: 24px; /* Ukuran ikon */
  margin-right: 1rem; /* Jarak antara ikon dengan teks lain, sesuaikan sesuai kebutuhan */
  text-decoration: none; /* Hapus dekorasi tautan */
}

footer .socials a:hover,
footer .links a:hover {
  color: rgb(239, 0, 0);
}

.facebook-icon :hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.2rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queris */

/* Leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .contact .row {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
    color: black;
  }

  .menu p {
    font-size: 16px;
  }

  .contact .row {
    min-height: 28vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone 
@media (max-width: 450px) {
  html {
    font-size: 55%;
    background-size: auto;
  }
} */

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
    background-size: auto;
  }

  body {
    padding-top: 1px; /* Menyesuaikan dengan tinggi navbar untuk menghindari tumpang tindih */
  }

  .navbar {
    padding: 1.4rem 5%; /* Menyesuaikan padding navbar agar tidak terlalu lebar */
  }

  .navbar .navbar-logo {
    height: 7rem; /* Mengurangi tinggi logo */
  }

  .navbar .navbar-nav {
    flex-direction: column; /* Mengubah arah menu menjadi vertikal */
    position: fixed;
    top: 10rem; /* Menyesuaikan dengan tinggi navbar */
    right: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 42%;
    height: 100vh;
    transition: 0.3s;
    flex: 0 0 40%;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .hero {
    min-height: 50vh; /* Mengurangi tinggi hero section */
  }

  .hero .content h1 {
    font-size: 3em; /* Mengurangi ukuran teks di hero section */
  }

  .about .row .about-img img {
    height: 18rem; /* Mengurangi tinggi gambar about section */
  }

  .about .row .content h3 {
    font-size: 1.6rem; /* Mengurangi ukuran teks di about section */
  }

  .about .row .content p {
    font-size: 1.6rem; /* Mengurangi ukuran teks di about section */
  }

  .menu p {
    font-size: 14px; /* Mengurangi ukuran teks di menu section */
  }

  .contact .row .map {
    height: 20rem; /* Mengurangi tinggi peta di contact section */
  }

  .contact .row form {
    padding: 2rem; /* Mengurangi padding form di contact section */
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
}

.popup-image {
  margin: 10% auto;
  max-width: 80%;
  max-height: 80%;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.popup-img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-active {
  display: block;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.menu-card-img-container {
  position: relative;
}

.baca-selengkapnya {
  cursor: pointer;
}

/* Styling untuk tombol baca selengkapnya saat mouse hover */
.baca-selengkapnya:hover {
  text-decoration: underline;
  color: rgb(15, 15, 105);
}

/* Floting Button WhatsApp */

.btn-floating {
  position: fixed;
  right: 25px;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 0;
  z-index: 9999;
  color: white;
}

.btn-floating {
  width: auto;
  padding: 0 15px;
  cursor: pointer;
}

.btn-floating span {
  font-size: 15px;
  margin-left: 3px;
  position: center;
  line-height: 0px;
  display: none;
}

.btn-floating span {
  display: inline-block;
}

.btn-floating img {
  margin-bottom: -3px;
}

.btn-floating.whatsapp {
  bottom: 25px;
  background-color: #34af23;
  border: 2px solid #fff;
}

.btn-floating.whatsapp {
  background-color: #1f7a12;
}
